<h1>質問一覧</h1>
<p><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= link_to '詳細', question_path(question.id) %></td>
        <td><%= link_to '削除', question_path(question.id), method: :delete, data: {confirm: '本当に削除していいですか？'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新しく質問を投稿する', new_question_path %>
