<%= form_with(model: @grouping, local: true) do |form| %>
  <% if @grouping.errors.any? %>
    <div id="error_explanation">
      <h2><%= @grouping.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @grouping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grouping_email">
    <%= form.label :メンバーのemail %>
    <%= form.text_field :email, placeholder: "メンバーのemail" %>
  </div>
  
  <%= form.submit %>
<% end %>
