<h2>メインメニュー</h2>
<%= link_to '商品登録', products_path %>
<%= link_to '得意先登録', clients_path %>
<%= link_to '仕入先登録', suppliers_path %>
<%= link_to '質問と回答', questions_path %>
<%= link_to 'チーム登録', new_team_path %>
<%= link_to 'メンバー登録', new_grouping_path %>