<%= form_with(model: @supplier, local: true) do |form| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= @supplier.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="supplier_code">
    <%= form.label :code %>
    <%= form.text_field :code, placeholder: "仕入先コード" %>
  </div>
  <div class="supplier_name">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "仕入先名" %>
  </div>
  <div class="supplier_phone_number">
    <%= form.label :phone_number %> 
    <%= form.text_field :phone_number, placeholder: "電話番号" %>
  </div>
  <div class="supplier_fax_number">
    <%= form.label :fax_number %>
    <%= form.text_field :fax_number, placeholder: "FAX番号" %>
  </div>
  <div class="supplier_address">
    <%= form.label :address %>
    <%= form.text_field :address, placeholder: "住所" %>
  </div>
  <div class="supplier_remarks">
    <%= form.label :remarks %>
    <%= form.text_field :remarks, placeholder: "備考" %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'メインメニュー', menus_path %>
<%= link_to '一覧', suppliers_path %>