<%= form_with(model: @sale, local: true) do |form| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sale.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= link_to '新規登録', new_sale_path %>
  <div class="sale_code">
    <%= form.label :code %>
    <%= form.text_field :code, placeholder: "商品コード" %>
  </div>
  <div class="sale_date_at">
    <%= form.label :date_at %>
    <%= form.date_field :date_at, placeholder: "売上日" %>
  </div>

  <div class="sale_date_at">
    <%= form.label :Client_ID %>
    <%= form.text_field :client_id, placeholder: "client_id" %>
  </div>

  <div class="sale_inputter">
    <%= form.label :inputter %> 
    <%= form.number_field :inputter, placeholder: "入力者" %>
  </div>

  <%#= f.fields_for :sale_details do |sd| %>
    <%# sd.text_field :product_id %>
    <%# sd.text_field :quantity %>

 
  <%= form.submit %>
<% end %>

<%= link_to 'メインメニュー', menus_path %>
<%= link_to '売上一覧', sales_path %>