<%= form_with(model: @sale, local: true) do |form| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sale.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= link_to '新規登録', new_sale_path %>
  <div class="sale_code">
    <%= form.label :code %>
    <%= form.text_field :code, placeholder: "商品コード" %>
  </div>
  <div class="sale_date_at">
    <%= form.label :date_at %>
    <%= form.date_field :date_at, placeholder: "売上日" %>
  </div>

  <div class="sale_date_at">
    <%= form.label :Client_ID %>
    <%= form.text_field :client_id, placeholder: "client_id" %>
  </div>

  <div class="sale_inputter">
    <%= form.label :inputter %> 
    <%= form.number_field :inputter, placeholder: "入力者" %>
  </div>

  <%= form.fields_for :sale_details do |sd| %>
    <strong>
      商品<%= "#{sd.index+1}" %>
    </strong>
    <div class="product_name">
      <%= sd.label :商品名 %>
      <%= sd.text_field :@product %>
    </div>
    <div class="quantity">
      <%= sd.label :個数 %>
      <%= sd.text_field :quantity %>
    </div>
    <div class="station">
      <%= sd.label :単価 %>
      <%#= sd.text_field :nearest_station %>
    </div>
    <div class="on_foot">
      <%= sd.label :原価 %>
      <%#= sd.text_field :on_foot %>
    </div>
    <div class="on_foot">
      <%= sd.label :金額 %>
      <%#= sd.text_field :on_foot %>
    </div>
  <% end %>
  <div class="on_foot">
      <%= form.label :合計 %>
      <%#= form.text_field :on_foot %>
  </div>  
  <%= form.submit %>
<% end %>

<%= link_to 'メインメニュー', menus_path %>
<%= link_to '売上一覧', sales_path %>