<%= form_with(model: @sale, local: true) do |form| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sale.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= link_to '新規登録', new_sale_path %>
  
  <div class="sale_code">
    <%= form.label :code %>
    <%= form.text_field :code, placeholder: "売上コード" %>
  </div>
  
  <div class="sale_date_at">
    <%= form.label :date_at %>
    <%= form.date_field :date_at, placeholder: "売上日" %>
  </div>

  <div class="sale_client_id">
    <%= form.label :Client_ID %>
    <%= form.text_field :client_id, placeholder: "client_id" %> <!-- これを追記。パラメータでclient_idを渡すため。-->
  </div>

  <div class="sale_client_name">
    <%#= form.label :sale_client_name %>
    <%#= form.text_field :client_id, id: :client_id, placeholder: "client_id" %>
  </div>

  <div class="sale_inputter">
    <p>入力者:<%= current_user.name %></p>
    <%= form.hidden_field :inputter, value: current_user.id %> <!-- これを追記。パラメータで入力者のidを渡すため。-->
  </div>


  <%= form.fields_for :sale_details do |sd| %>
    <strong>
      <p>商品<%= "#{sd.index+1}" %></p>
    </strong>

    <% @products.each do |product| %>
      <div class="product_name">
        <p>商品名:<%= product.name %></p>
      </div>
    
      <div class="sd_quantity">
        <%= sd.label :個数 %>
        <%= sd.text_field :quantity %>
      </div>
    
      <div class="product_selling_price">
        <p>単価:<%#= product.selling_price %></p>
      </div>
    
      <div class="product_cost_price">
        <p>原価:<%#= product.cost_price %></p>
      </div>

      <div class="product_regular_price">
        <p>標準価格:<%#= product.regular_price %></p>
      </div>

      <div class="product_id">
        <%= sd.hidden_field :product_id, value: product.id %> <!-- これを追記。パラメータでproduct_idを渡すため。-->
      </div>
    <% end %>
  <% end %>
  
    <div class="sale_total">
      <p>合計:</p>
    </div>  

  <%= form.submit %>
<% end %>

<%= link_to 'メインメニュー', menus_path %>
<%= link_to '売上一覧', sales_path %>