<h2>売上一覧</h2>
<p><%= notice %></p>
<%= link_to '新規登録', new_sale_path %>

<table>
  <tr>
    <th>売上コード</th>
    <th>売上日</th>
    <th>得意先</th>
    <th>商品名</th>
    <th>数量</th>
    <th>合計</th>
  </tr>
  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.code %></td>
      <td><%= sale.date_at %></td>
      <td><%= Client.find(sale.client_id).name %></td> <!-- 要修正 -->

      <% sale.saled_products.each_with_index do |product, i|%>
        <td><%= product.name %></td>
        <td><%= sale.sale_details[i].quantity %></td>
        <td><%= (sale.sale_details[i].quantity * product.selling_price).to_i.to_s(:delimited) %></td>
      <% end %>
      <td><%= link_to '編集', edit_sale_path(sale.id), class: "btn btn-success" %></td>
      <td><%= link_to "削除", sale_path(sale.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'メインメニュー', menus_path %>

